@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

.e-multi-select-wrapper{
  /* width: 250px !important; */
  padding:10px;
}
.App {
  text-align: center;
}
.ml0 {
  margin-left: 0px !important;
  float: right;
}
/* .react-datepicker-popper{
  width: 300px;
  height: 300px;
}
.react-datepicker{
  width: 100%;
} */
.react-datepicker__input-container input{
  margin-top: 11px;

padding: 8px;

display: block;

border: none;

    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;

border-bottom: 1px solid #ccc;

width: 100%;

font-size: 15px;

font-family: Poppins-Regular;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.menu-active {
  color: #00a650 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  width: 120px;
height: 120px;
}
#logo {
vertical-align: left;
width: 50px;
height: 50px;
text-align: left;
}

.nav>li>a:hover {
  background-color: none;
  color: red;
}

.btn-sign{
  color: #fffcec !important; 
  background-color: #eb593c;
}
/*no background*/
.no-bg {
  /*color: #000000;*/
  border: solid 1px #fffcec;
  background-color: transparent;
  padding: 5px;
  
}
.alignCenter{
  text-align: center;
  height: 100%;
}

.no-bg:hover {
  color: #eb593c;
}
.container-fluid {
  width: 100%;
}
.mt25 {
  margin-top: 25px;
}
.mt15 {
  margin-top: 15px;
}
.mt60 {
  margin-top: 60px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.pd-bot10 {
  padding-bottom: 10px;
}
.mg-right50{
  margin-right: 50px;
}

.btn-menu {
  width: 120px;
  font-size: 16px;
  padding: 13px;
  float: right;
     margin-right: 10px;
     color: #000

}

.pd-top60 {
  padding-top: 60px;
}

.App-link {
  color: #61dafb;
}

.menu {
  font-size: 16px;
  width: 100%;
}
.bar {
  /*height: 200px;*/
  background-color: #042E29
}


.menuactive {
  font-color: #eb2f06;
}

.my-link {
  margin-right: 10px;
  margin-left: 20px;
   color: #000;
   font-size:16px;
   font-weight: 400 !important;
   background-color: transparent !important;
}

.navbar-nav>li:hover>a {
  color: #eb2f06 !important;
  text-decoration: none !important;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input::-webkit-input-placeholder {
color: #CACFD2 !important;
}
.user_profile_w3_input::-webkit-input-placeholder {
  color:#CACFD2    !important;
  }
 
input:-moz-placeholder { /* Firefox 18- */
color: #CACFD2 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #CACFD2 !important;  
}
 
input:-ms-input-placeholder {  
color: #CACFD2 !important;  
}
span.e-input-group.e-control-wrapper.e-datetime-wrapper.e-valid-input.e-error {
  border-color: #e0e0e0;
}
input#datetimepicker {
  padding-left: 15px;
  padding: 10px;
  border-color: #e0e0e0 !important;
}

.a-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.wrapper {
height: 100%;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

    .sidebar.active {
        margin-left: -200px;  
    }

.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  width: 200px;
  margin-left: 0px;
  color: #fff;
  background: black;
    /* don't forget to add all the previously mentioned styles here too */
    /*background: #7386D5;*/
    color: #fff;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: black;
    color: #000;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul p {
    color: #000000;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li > a, a[aria-expanded="true"] {
    color: white;
    background: black;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
.mainmenu a:hover {
    background-color: #C5C5C5;
}
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu a {
  background-color: #999;
}
.submenu a:hover {
  background-color: #666;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
.menubutton {
  background-color: transparent !important; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header-top-template{
  text-align: center;
  padding: 5px;
   margin-bottom: 10px;
    background-color:#95a5a6;
    font-size:28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ml10 {
  border-radius: 0px !important;
width: 90% !important;
height: 5% !important;
  margin-top: 20px !important;
  font-size: 18px !important;
  border: 1px solid #000 !important;
  margin-left: 5%;
  background-color: transparent !important
}


.switch-container {
	/* position: absolute;
	top: 30%; left: 30%;
	-webkit-transform: translate3d( -50%, -50%, 0 );
  transform: translate3d( -50%, -50%, 0 ); */
  margin-left:25%;
}

input[type="checkbox"].switch  {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: gray;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
	width: 76px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div {
	width: 76px;
  height: 24px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
}


input[type="checkbox"].switch:checked + div {
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div > div {
	float: left;
	width: 28px; height: 24px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;

}

input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(24px, 0, 0);
	transform: translate3d(24px, 0, 0);
	background-color: #ffffff;
}




input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(48px, 0, 0);
	transform: translate3d(48px, 0, 0);
}

.plain-html-editor-v2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plain-html-editor-v2 .editor {
  padding: 54px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 70%;
}
.fWsXGo {
  text-align: left;
}
.dsbhyt {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: rgb(36, 40, 44);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  padding: 0px;
  margin: 0px 0px 30px;
}
#code_preview {
  font-size: 16px;
  color: #000;
}
.code-area {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.code-area>div {
  position: relative;
}
.code-area .info-text {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #576a7b;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 120px;
  padding-bottom: 12px;
}
.dbshwx {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 80px;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  transition-property: background-color, color, box-shadow, border-color;
  transition-duration: 0.36s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none;
  padding: 0px 15px;
  margin: 0px;
  outline: none;
  background: rgb(0, 186, 255);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 300px;
}
.code-area .copy-button {
  /* position: absolute; */
  /* bottom: -5px; */
  right: 0;
  z-index: 1;
  border-radius: 0;
  margin-bottom: 20px;
}

 .copycode{
  position: absolute !important;
  bottom: 0px !important;
  right: -1px;
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border-radius: 0; */
  /* margin-bottom: 20px; */

}
.jAIoYc .gr-checkbox__icon--border {
  stroke-width: 2px;
  stroke: rgb(204, 204, 204);
  fill: rgb(255, 255, 255);
}
.jAIoYc svg {
  height: 100%;
  width: 100%;
  vertical-align: top;
  fill: none;
  stroke: currentcolor;
}
.ijrtmX {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.kPJhKT {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  margin: 0px auto;
}
#code_plain {
  border: 1px solid #cbcbcb;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  background: #fff;
  z-index: 2;
}
#code_plain .plain-code__formField {
  padding-bottom: 0;
}
#code_plain .plain-code__textarea {
  width: 100%;
  height: 180px;
  resize: vertical;
  border: none;
}
.side-tool-box {
  width: 288px;
  min-height: 100%;
  color: black;
  background: white;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
}
#code_preview {
  font-size: 16px;
  color: #000;
 
}
.ml30p{
  margin-left: 30%;
}
button.copy-button.ButtonContainer-cCzDqJ.dbshwx {
  float: right;
  margin-top: 30px;
}
.preview_code {
  padding: 20px 20px 80px 20px;
  background: white;
  /* padding: 40px; */
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
  border-radius: 10px;
}
.side-tool-box .form_options {
  border: 0;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 25px;
  margin-right: 25px;
}
.foZsFZ {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 15px;
  text-align: left;
  margin-bottom: 7px;
  letter-spacing: 0.018em;
  line-height: 18px;
  padding: 0px;
  margin-top: 20px;
}
.chmwKn {
  position: absolute;
  top: 0px;
}
.side-tool-box .section-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gVnSPE {
  position: relative;
  padding-bottom: 23px;
  vertical-align: top;
}
.fnVgps {
  position: relative;
  margin-bottom: 11px;
  display: block;
}
.fDOmQc {
  position: absolute;
  opacity: 0;
  margin: 0px;
}
.container-cb .checkmark-cb:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-cb input:checked ~ .checkmark-cb:after {
  display: block;
}
.checkmark-cb:after {
  content: "";
  position: absolute;
  display: none;
}

.container-cb {
  font-weight: 400;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.foZsFZ span{
  font-weight: 500
}

/* Hide the browser's default checkbox */
.container-cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-cb {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-cb:hover input ~ .checkmark-cb {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-cb input:checked ~ .checkmark-cb {
  background-color: #2196F3;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-header .close {
  margin-top: -2px;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.inactiveTemplate{
  color: #337ab7 !important;
}

.activeTemplate{
/* color: green !important; */
color: #337ab7 !important;
font-weight: 500;
text-decoration: underline
}
.filter ul li a {
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}