.sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.sidebar-menu {
    position: absolute;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 170px;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333333;
    color: #aaabae;
    box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    z-index: 999;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 200px;
}

.logo1 {
    width: 100%;
    padding: 15px 14px 15px;
    box-sizing: border-box;
    background: #1b93e1;
    text-align: center;
}

.logo1 {
    padding: 21px 0;
    height: 63px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

span#logo1 {
    display: none;
}

a.sidebar-icon:hover {
    color: #1b93e1;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    margin-right: 0em;
    margin-top: -8px;
    color: #fff;
    background: #1b93e1;
    border-radius: 0;
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

.sidebar-icon {
    margin-top: -2px;
    border: 1px solid #1b93e1;
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 0px;
    color: #1b93e1;
    background: #fff;
    float: none;
}

.sidebar-icon {
    margin-top: -2px;
    font-size: 19px;
    padding: 8px 9px;
}

.sidebar-icon {
    margin-top: -6px;
    font-size: 19px;
    padding: 6px 7px;
    margin-right: 0px;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transition: all 300ms ease-in-out;
    margin-right: 0.1em;
    margin-top: -7px;
    color: #fff;
    background: #1b93e1;
    border-radius: 0;
    transform: rotate(0deg);
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    margin-top: -2px;
    font-size: 19px;
    padding: 6px 7px;
    margin: 0px 14px;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 200px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 200px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 230px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    z-index: 999999999;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    z-index: 999999999;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.sidebar-menu {
    position: absolute;
}

.menuside {
    text-align: left;
}

.page-container.sidebar-collapsed #menuside span {
    opacity: 0;
    transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menuside span {
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 300ms;
}

#menuside {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#menuside li {
    position: relative;
    margin: 0;
    border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
    padding: 0;
    padding: 0;
}

#menuside li ul {
    opacity: 0;
    height: 0px;
}

#menuside li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
#menuside li a:nth-child(n+2) {
   padding-left: 50px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333323;
    opacity: 0.7;
}

.closed li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
.opened li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
.opened a:nth-child(n+2) {
    display: block !important;
     padding-left: 50px;
     font-style: italic;
     font-weight: 300;
     position: relative;
     display: block;
     padding: 13px 20px;
     color: #fff;
     white-space: nowrap;
     z-index: 2;
     background-color: #333333;
     font-size: 0.9em;
     font-family: 'Roboto',
     sans-serif;
     border: none;
     border-left: 4px solid #333323;
     opacity: 0.7;
}
.closed a:nth-child(n+2) {
     padding-left: 50px;
     font-style: italic;
     font-weight: 300;
     position: relative;
     padding: 13px 20px;
     color: #fff;
     white-space: nowrap;
     z-index: 2;
     background-color: #333333;
     font-size: 0.9em;
     font-family: 'Roboto',
     sans-serif;
     border: none;
     border-left: 4px solid #333323;
     opacity: 0.7;
    display: none !important;
}



#menuside li a:hover {
    color: #ffffff;
    background-color: #1b93e1;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    border-left: 4px solid #4A4A4A;
    text-decoration: none
}

#menuside li.active>a {
    background-color: #2b303a;
    color: #ffffff;
}

#menuside ul li {
    background-color: #333333;
}

#menuside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuside li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menuside li:hover>ul {
    visibility: visible;
    opacity: 1;
}

li#menu-mensagens,
li#menu-arquivos {
    background-color: #00C6D7 !important;
}

#menuside li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}

#menuside li li:hover ul {
    visibility: visible;
    opacity: 1;
}

#menuside .fa {
    margin-right: 5px;
}



ul#menuside i {
    font-size: 1.1em;
    margin-right: 6px;
    width: 10%;
    float: left;
    padding-top: 2px;
}

ul#menu-academico-sub {
    z-index: 999;
}

li#menu-academico {
    z-index: 999;
}

.header-main-dashboard {
    padding:1em;
    background:#fff;
     box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.w3layouts-right {
    float: left;
    width: 24.25%;
    background: #e74c3c;
    text-align: center;
    padding: 1.3em 1em 0.1em;
    margin: 0 1%;
}
.logo-w3-agile h1 {
    margin: 0;
    font-size: 35px;
}
.logo-w3-agile h1 a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}
.w3layouts-left {
    float: left;
    width: 24.25%;
    background: #ff9501;
    padding: 1em;
}
.profile_details {
    float: left;
    width: 24.25%;
    background: #1b93e1;
    text-align: center;
    padding: 0.3em 1em;
}
.logo-w3-agile {
    background: #a2d200;
    float: left;
    width: 24.25%;
    text-align: center;
     padding: 1em;
     margin-right: 1%;
}
.w3-search-box {
    float: left;
    width:100%;
    margin-top: 0em;
    position: relative;
    z-index: 1;
    display: inline-block;
    border:2px solid #fff;
}
.nofitications-dropdown {
    padding: 0;
}
.dropdown.head-dpdn {
    display: inline-block;
    padding: 0.2em 0;
    float: left;
}
.dropdown.head-dpdn .dropdown-toggle {
    margin: 1em 1.3em;
}
.badge {
        font-size: 10px;
        line-height: 17px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10%;
        padding: 2px 0 0;
        left: 67%;
    }
.notification_header{
    background-color:#FAFAFA;
    padding: 10px 15px;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}
.user_img{
    float:left;
    width:19%;
}
.notification_desc{
    float:left;
    width:70%;
    margin-left:5%;
}
.notification_bottom {
    background-color:rgba(93, 90, 88, 0.07);
    padding: 4px 0;
    text-align: center;
    margin-top: 5px;
}
.blue111 {
    background-color: #68AE00;
}
.task-info .percentage{
    float:right;
    height:inherit;
    line-height:inherit;
}
.task-desc{
    font-size:12px;
}
.progress {
    height: 10px;
    margin: 7px 0;
    overflow: hidden;
    background: #e1e1e1;
    z-index: 1;
    cursor: pointer;
}
progress-striped .yellow {
    background: #f0ad4e;
}
.progress .bar {
    z-index: 2;
    height: 15px;
    font-size: 12px;
    color: white;
    text-align: center;
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.profile_details {
    float: left;
    width: 24.25%;
    background: #1b93e1;
    text-align: center;
    padding: 0.3em 1em;
}
.profile_img .prfil-img{
    float:left;
}
.user-name {
    float: left;
    margin-top: 7px;
    margin-left: 11px;
    height: 35px;
}
.dropdown-menu.drp-mnu {
    margin-right: 0.5em;
}