.sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.sidebar-menu {
    position: absolute;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 170px;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333333;
    color: #aaabae;
    box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    z-index: 999;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 200px;
}

.logo1 {
    width: 100%;
    padding: 15px 14px 15px;
    box-sizing: border-box;
    background: #1b93e1;
    text-align: center;
}

.logo1 {
    padding: 21px 0;
    height: 63px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

span#logo1 {
    display: none;
}

a.sidebar-icon:hover {
    color: #1b93e1;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    margin-right: 0em;
    margin-top: -8px;
    color: #fff;
    background: #1b93e1;
    border-radius: 0;
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

.sidebar-icon {
    margin-top: -2px;
    border: 1px solid #1b93e1;
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 0px;
    color: #1b93e1;
    background: #fff;
    float: none;
}

.sidebar-icon {
    margin-top: -2px;
    font-size: 19px;
    padding: 8px 9px;
}

.sidebar-icon {
    margin-top: -6px;
    font-size: 19px;
    padding: 6px 7px;
    margin-right: 0px;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transition: all 300ms ease-in-out;
    margin-right: 0.1em;
    margin-top: -7px;
    color: #fff;
    background: #1b93e1;
    border-radius: 0;
    transform: rotate(0deg);
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
    margin-top: -2px;
    font-size: 19px;
    padding: 6px 7px;
    margin: 0px 14px;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 200px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 200px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 230px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    z-index: 999999999;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    z-index: 999999999;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 180px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.sidebar-menu {
    position: absolute;
}

.menuside {
    text-align: left;
}

.page-container.sidebar-collapsed #menuside span {
    opacity: 0;
    transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menuside span {
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 300ms;
}

#menuside {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#menuside li {
    position: relative;
    margin: 0;
    border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
    padding: 0;
    padding: 0;
}

#menuside li ul {
    opacity: 0;
    height: 0px;
}

#menuside li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
#menuside li a:nth-child(n+2) {
   padding-left: 50px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333323;
    opacity: 0.7;
}

.closed li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
.opened li a:nth-child(1) {
    font-style: initial;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 20px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333333;
    font-size: 15sp;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #333333;
}
.opened a:nth-child(n+2) {
    display: block !important;
     padding-left: 50px;
     font-style: italic;
     font-weight: 300;
     position: relative;
     display: block;
     padding: 13px 20px;
     color: #fff;
     white-space: nowrap;
     z-index: 2;
     background-color: #333333;
     font-size: 0.9em;
     font-family: 'Roboto',
     sans-serif;
     border: none;
     border-left: 4px solid #333323;
     opacity: 0.7;
}
.closed a:nth-child(n+2) {
     padding-left: 50px;
     font-style: italic;
     font-weight: 300;
     position: relative;
     padding: 13px 20px;
     color: #fff;
     white-space: nowrap;
     z-index: 2;
     background-color: #333333;
     font-size: 0.9em;
     font-family: 'Roboto',
     sans-serif;
     border: none;
     border-left: 4px solid #333323;
     opacity: 0.7;
    display: none !important;
}



#menuside li a:hover {
    color: #ffffff;
    background-color: #1b93e1;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    border-left: 4px solid #4A4A4A;
    text-decoration: none
}

#menuside li.active>a {
    background-color: #2b303a;
    color: #ffffff;
}

#menuside ul li {
    background-color: #333333;
}

#menuside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuside li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menuside li:hover>ul {
    visibility: visible;
    opacity: 1;
}

li#menu-mensagens,
li#menu-arquivos {
    background-color: #00C6D7 !important;
}

#menuside li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}

#menuside li li:hover ul {
    visibility: visible;
    opacity: 1;
}

#menuside .fa {
    margin-right: 5px;
}



ul#menuside i {
    font-size: 1.1em;
    margin-right: 6px;
    width: 10%;
    float: left;
    padding-top: 2px;
}

ul#menu-academico-sub {
    z-index: 999;
}

li#menu-academico {
    z-index: 999;
}